@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fables">
    <meta name="author" content="Enterprise Development">
    <link rel="shortcut icon" href="/assets/custom/images/shortcut.png">

    <title> Home 1 </title>

    <!-- animate.css-->
    <link href="/assets/vendor/animate.css-master/animate.min.css" rel="stylesheet">
    <!-- Load Screen -->
    <link href="/assets/vendor/loadscreen/css/spinkit.css" rel="stylesheet">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Font Awesome 5 -->
    <link href="/assets/vendor/fontawesome/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- Fables Icons -->
    <link href="/assets/custom/css/fables-icons.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap-4-navbar.css" rel="stylesheet">
    <!-- portfolio filter gallery -->
    <link href="/assets/vendor/portfolio-filter-gallery/portfolio-filter-gallery.css" rel="stylesheet">
    <!-- FANCY BOX -->
    <link href="/assets/vendor/fancybox-master/jquery.fancybox.min.css" rel="stylesheet">
    <!-- RANGE SLIDER -->
    <link href="/assets/vendor/range-slider/range-slider.css" rel="stylesheet">
    <!-- OWL CAROUSEL  -->
    <link href="/assets/vendor/owlcarousel/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/vendor/owlcarousel/owl.theme.default.min.css" rel="stylesheet">
    <!-- FABLES CUSTOM CSS FILE -->
    <link href="/assets/custom/css/custom.css" rel="stylesheet">
    <!-- FABLES CUSTOM CSS RESPONSIVE FILE -->
    <link href="/assets/custom/css/custom-responsive.css" rel="stylesheet">

</head>


<body>



   
    <div class="fables-choose-background fables-after-overlay py-4 py-md-5 bg-rules overflow-hidden px-3 px-md-0">
        <div class="container position-relative z-index">
            <div class="row">
                
                <div class="col-12 col-lg-12 bg-white px-6 py-3 py-md-5 wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="0.5s">
                    
                    <div id="accordion">
                   
                            @RenderBody()
                           
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        
       
    </div>
    <div class="fables-price-bg fables-after-overlay py-4 py-lg-5 my-4 my-lg-5 bg-rules overflow-hidden">
        <div class="container position-relative z-index">
            <h2 class="white-color font-35 font-weight-bold text-center mb-4 mb-md-5">Employees Data</h2>

        </div>
    </div>


    <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/assets/vendor/loadscreen/js/ju-loading-screen.js"></script>
    <script src="/assets/vendor/jquery-circle-progress/circle-progress.min.js"></script>
    <script src="/assets/vendor/popper/popper.min.js"></script>
    <script src="/assets/vendor/jQuery.countdown-master/jquery.countdown.min.js"></script>
    <script src="/assets/vendor/timeline/jquery.timelify.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap-4-navbar.js"></script>
    <script src="/assets/vendor/WOW-master/dist/wow.min.js"></script>
    <script src="/assets/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assets/custom/js/jquery-data-to.js"></script>
    <script src="/assets/vendor/jquery-circle-progress/circle.js"></script>
    <script src="/assets/vendor/portfolio-filter-gallery/jquery.isotope.min.js"></script>
    <script src="/assets/vendor/portfolio-filter-gallery/portfolio-filter-gallery.js"></script>
    <script src="/assets/vendor/fancybox-master/jquery.fancybox.min.js"></script>
    <script src="/assets/custom/js/custom.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>