@model AzkaTask_Solution.Models.Employee

@{
    Layout = "_DetailsLayout";
    ViewData["Title"] = "Update";
    SelectList dept = new SelectList(ViewBag.Degrees);
}

<h1>Update</h1>

<h4>Employee</h4>
<hr />
<div class="row g-1">
    <div class="col">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-outline">
                <input type="text" asp-for="Name" class="form-control" />
                <label class="form-label" asp-for="Name">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-outline">
                <input type="date" asp-for="BirthDate" class="form-control" />
                <label class="form-label" asp-for="BirthDate">BirthDate</label>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-outline">
                <select name="Qualifications" asp-for="Qualifications" asp-items="ViewBag.Degrees" id="Qualifications" class="form-control"></select>
                <label class="form-label" asp-for="Qualifications">Qualifications</label>
                <span asp-validation-for="Qualifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
